.post {
    display: flex;
    flex-direction: column;
    margin: 1em 15px;
    padding: 1em 1em;
    border: 1px solid rgb(214, 212, 212);
    box-shadow: -2px -2px 2px rgb(214, 212, 212);
    position: relative;
}

.date {
    color: rgb(99, 99, 99);
}

.button_container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.button {
    margin-right: 5px;
    cursor: pointer;
}

.button:last-of-type {
    margin-right: 0;
}

.button:hover {
    transform: scale(1.1);
    transition: .3s;
}